.container {
  display: flex;
  justify-content: center;
}

.item {
  background-color: var(--light-gray-color);
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.itemActive {
  background-color: var(--blue-color);
}

.itemDisabled {
  background-color: var(--gray-color);
}

.link {
  color: var(--black-color);
}

.linkActive {
  color: var(--light-gray-color);
}
