.button {
  cursor: pointer;
  padding: 10px 15px;
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  background-color: var(--btn-primary-color);
  font-size: var(--text-size);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.button:disabled {
  background-color: var(--btn-inactive-color);
}

.button:not(:disabled):hover {
  opacity: 0.5;
}
