.container {
  height: 150px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--medium-text-size, 20px);
  color: var(--black-color, black);
  background-color: var(--light-gray-color, gray);
}

.container:hover {
  color: var(--light-gray-color, grey);
  background-color: var(--dark-gray-color, rgb(34, 34, 34));
}

.orderId {
  color: var(--blue-color, blue);
}
