.container {
  height: 150px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--medium-text-size);
  color: var(--black-color, black);
  background-color: var(--light-gray-color, gray);
}

.orderId {
  color: var(--blue-color);
}
