@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

:root {
  --nav-highlight-color: #4285f3;
  --nav-inactive-color: #6d7278;
  --nav-item-text-size: 15px;
  --header-color: #2e2f31;
  --bg-color: #1b1c1f;
  --font: 'Noto Sans KR';
  --text-color: #c7c7c7;
  --text-size: calc(20 * 1px);
  --bold-text-weight: 500;
  --thin-text-weight: 300;
  --big-title-size: calc(160 * 1px);
  --medium-title-size: calc(80 * 1px);
  --small-title-size: calc(40 * 1px);
  --btn-primary-color: var(--nav-highlight-color);
  --btn-inactive-color: var(--nav-inactive-color);
}
