@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

:root {
  --nav-highlight-color: #4285f3;
  --nav-inactive-color: #6d7278;
  --header-color: #2e2f31;
  --bg-color: #1b1c1f;
  --font: 'Noto Sans KR';
  --text-color: #c7c7c7;
  --bold-text-size: 500;
  --thin-text-size: 300;
}
