.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  justify-content: space-between;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .pagination {
    margin-top: 20px;
  }
}
