.label {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.label:last-of-type {
  padding-bottom: 50px;
}

.error {
  border: 3px solid tomato;
}

.input {
  padding: 10px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
